<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rnwebviewnative">
  <application>
    <activity
      android:name=".WebViewNativeActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Material.Light.NoActionBar" />
  </application>
</manifest>
